[Unit]
Description=Le serveur Keycloak
After=syslog.target network.target
Before=httpd.service

[Service]
Environment=LAUNCH_JBOSS_IN_BACKGROUND=1
EnvironmentFile=-/etc/keycloak/keycloak.conf
User=keycloak
Group=keycloak
LimitNOFile=102642
PIDFile=/var/run/keycloak/keycloak.pid
ExecStart=/opt/keycloak/bin/launch.sh $KEYCLAOK_MODE $KEYCLAOK_CONFIG $KEYCLAOK_BIND
StandardOutput=null

[Install]
WantedBy=multi-user.target
